*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    letter-spacing: 2px;
    font-weight: 500;
    }
    html,body{
    height: 100vh;
    width: 100vw;
    }
    #main{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    }
    #top{
        border-radius: 20px;
        height: 75%;
        border: 2px solid black;
        margin-bottom: 10px;
        padding: 10px;
        overflow-y: auto;
        background-color: rgb(202, 193, 193);
    }
    #top::-webkit-scrollbar{
        display: none;
    }
    #bottom{
        height: 25%;
        width: 100%;
        border: 2px solid black;
        border-radius: 20px;
        padding: 10px;
        
    }
    #comments{
        background-color: rgb(89, 189, 89);
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid black;
        border-radius: 20px;
    }
    #bottom #comment{
        width: 100%;
        height: 15vh;
        padding: 10px;
        background-color: rgb(89, 189, 89);
        border-radius: 20px;
        color: black;
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    #bottom button{
        padding: 10px 25px;
        background-color: rgb(89, 189, 89);
        color: black;
        border-radius: 20px;
    }
    #bottom #clear{
        background-color: rgb(212, 94, 94);
    }
    #bottom #sortime{
        background-color: yellow;
    }
    #top button{
        padding: 5px 15px;
        border-radius: 10px;
    }
    #popup{
        height: 600px;
        width: 950px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        display: none;
    }
    #popup #rep{
        height: 90%;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
    }
    #popup #replysend{
        padding: 10px 15px;
        border-radius: 10px;
    }
#baatein{
    height: 15%;
    width: 100%;
    background-color: rgb(68, 68, 169);
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
}
/* #popup1{
    height: 600px;
    width: 950px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
#popup1 #rep1{
    height: 90%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}
#popup1 #replysend{
    padding: 10px 15px;
    border-radius: 10px;
} */